In [1]:
# Import dependencies
import pandas as pd
import os

In [2]:
# Read CSV file and create a dataframe

vine_df = pd.read_csv(r'C:\Users\Admin\Amazon_Vine_Analysis\vine.csv')

vine_df

C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1WBPB8MDCCN8F,5.0,0.0,0.0,N,N
1,R32M0YEWV77XG8,5.0,1.0,1.0,N,Y
2,RR8V7WR27NXJ5,1.0,0.0,0.0,N,Y
3,R1MHO5V9Z932AY,5.0,0.0,0.0,N,Y
4,R16PD71086BD2V,5.0,0.0,1.0,N,N
...,...,...,...,...,...,...
4850355,R1VERHFY08SLZS,1,6.0,8.0,N,N
4850356,R34TPFL5ZYSV46,3,21.0,29.0,N,N
4850357,R2YECHGBV291H,5,1.0,1.0,N,N
4850358,R2Z784CWN7JZ4X,2,3.0,4.0,N,N
4850359,R2J13W5P3N2KV4,4,18.0,19.0,N,N

In [9]:
# Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 
votes_df = vine_df.loc[vine_df["total_votes"] >= 20]
votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
...,...,...,...,...,...,...
4850347,R1KGFSPKL3YCGK,4,25.0,26.0,N,N
4850349,R15AZWCW5ZSFSN,5,157.0,160.0,N,Y
4850352,R1ZWVHA89AE49B,5,32.0,33.0,N,N
4850353,R115HJRM6FUVIC,5,27.0,27.0,N,N
4850356,R34TPFL5ZYSV46,3,21.0,29.0,N,N

In [21]:
# Retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%
vote_percent_df = votes_df.loc[(votes_df["helpful_votes"]) / (votes_df["total_votes"]) >= 0.5]
vote_percent_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
...,...,...,...,...,...,...
4850347,R1KGFSPKL3YCGK,4,25.0,26.0,N,N
4850349,R15AZWCW5ZSFSN,5,157.0,160.0,N,Y
4850352,R1ZWVHA89AE49B,5,32.0,33.0,N,N
4850353,R115HJRM6FUVIC,5,27.0,27.0,N,N
4850356,R34TPFL5ZYSV46,3,21.0,29.0,N,N

In [22]:
# Retrieve all the rows where a review was written as part of the Vine program (paid), vine == 'Y'
paid_review_df = vote_percent_df.loc[vote_percent_df["vine"] == "Y"]
paid_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5506,R32OMS1LSDRCOB,4.0,27.0,31.0,Y,N
24578,R2IPKK4I0XRCFR,4.0,16.0,21.0,Y,N
58364,RXYYJ8SGI9IX6,5.0,36.0,41.0,Y,N
63194,R1SAUBFC7T6JHC,5.0,73.0,75.0,Y,N
177724,R329HVJKKHWSG3,5.0,59.0,59.0,Y,N

In [23]:
# Retrieve all the rows where a review was written as part of the Vine program (unpaid), vine == 'N'
unpaid_review_df = vote_percent_df.loc[vote_percent_df["vine"] == "N"]
unpaid_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y

# Calculations

In [26]:
# Total number of reviews
total_reviews = vote_percent_df.count()
total_reviews

review_id            61948
star_rating          61948
helpful_votes        61948
total_votes          61948
vine                 61948
verified_purchase    61948
dtype: int64

In [27]:
# Total 5 star reviews
total_five_star_reviews = vote_percent_df.loc[vote_percent_df["star_rating"] == 5]
total_five_star_reviews_count = total_five_star_reviews.count()
total_five_star_reviews_count

review_id            31939
star_rating          31939
helpful_votes        31939
total_votes          31939
vine                 31939
verified_purchase    31939
dtype: int64

In [28]:
# Total paid reviews
total_paid_reviews = vote_percent_df.loc[vote_percent_df["vine"] =='Y']
total_paid_reviews_count = total_paid_reviews.count()
total_paid_reviews_count

review_id            334
star_rating          334
helpful_votes        334
total_votes          334
vine                 334
verified_purchase    334
dtype: int64

In [29]:
# Total unpaid reviews
total_unpaid_reviews = vote_percent_df.loc[vote_percent_df["vine"] =='N']
total_unpaid_reviews_count = total_unpaid_reviews.count()
total_unpaid_reviews_count

review_id            61614
star_rating          61614
helpful_votes        61614
total_votes          61614
vine                 61614
verified_purchase    61614
dtype: int64

In [31]:
# Total 5 star paid reviews
five_star_paid_reviews = total_paid_reviews.loc[total_paid_reviews["star_rating"] == 5]
five_star_paid_reviews_count = five_star_paid_reviews.count()
five_star_paid_reviews_count

review_id            133
star_rating          133
helpful_votes        133
total_votes          133
vine                 133
verified_purchase    133
dtype: int64

In [32]:
five_star_unpaid_reviews = total_unpaid_reviews.loc[total_unpaid_reviews["star_rating"] == 5]
five_star_unpaid_reviews_count = five_star_unpaid_reviews.count()
five_star_unpaid_reviews_count

review_id            31806
star_rating          31806
helpful_votes        31806
total_votes          31806
vine                 31806
verified_purchase    31806
dtype: int64

In [33]:
# Percentage of 5 star paid reviews
paid_five_star_total_pct = (five_star_paid_reviews_count/total_paid_reviews_count)*100
round(paid_five_star_total_pct, 2)

review_id            39.82
star_rating          39.82
helpful_votes        39.82
total_votes          39.82
vine                 39.82
verified_purchase    39.82
dtype: float64

In [34]:
# Percentage of 5 star unpaid reviews
unpaid_five_star_total_pct = (five_star_unpaid_reviews_count/total_unpaid_reviews_count)*100
round(unpaid_five_star_total_pct, 2)

review_id            51.62
star_rating          51.62
helpful_votes        51.62
total_votes          51.62
vine                 51.62
verified_purchase    51.62
dtype: float64